<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buba.aoyo.mapper.SysGroupMapper">
    <!--门店首页-->
    <resultMap id="listShop" type="SysGroup">
        <id property="groupId" column="GROUP_ID"></id>
        <result property="areaName" column="area_name"></result>
        <result property="groupTypeName" column="GROUP_TYPE_NAME"></result>
        <result property="streetName" column="street_name"></result>
        <result property="cityName" column="city_name"></result>
        <result property="groupStatusName" column="group_status_name"></result>
        <result property="groupName" column="group_name"></result>
        <result property="groupLatitude" column="GROUP_LATITUDE"></result>
        <result property="provinceName" column="province_name"></result>
        <result property="groupName" column="GROUP_NAME"></result>
        <result property="groupNickName" column="GROUP_NICK_NAME"></result>
        <result property="groupScore" column="group_score"></result>
        <result property="groupAddressDetails" column="group_address_details"></result>
        <result property="groupLongitude" column="GROUP_LONGITUDE"></result>
        <association property="groupIndex" javaType="AoyoGroupIndex">
            <id property="groupIndexId" column="group_index_id"></id>

            <result property="groupId" column="group_id"></result>
            <result property="imgUrl" column="img_url"></result>
            <result property="deleteFlag" column="delete_flag"></result>
        </association>

        <collection property="services" javaType="list" ofType="AoyoGroupFeaturedServices">
            <id property="featuredServiceId" column="featured_service_id"></id>
            <result property="createTime" column="create_time"></result>
            <result property="featuredServicesName" column="featured_services_name"></result>
            <result property="featuredServicesIsenable" column="featured_services_isenable"></result>
            <result property="featuredServicesDesc" column="featured_services_desc"></result>
            <result property="groupId" column="GROUP_ID"></result>
            <result property="groupFeaturedId" column="group_featured_id"></result>
            <result property="featuredServicesRemarks" column="featured_services_remarks"></result>
            <result property="deleteFlag" column="delete_flag"></result>
        </collection>
    </resultMap>

    <select id="findAll" resultMap="listShop">
    select street.`name` as street_name,area.`name` as area_name,city.`name` as city_name,province.`name` as province_name,address.group_address_details,
    sys_group.GROUP_NAME,sys_group.COUNTY_ID,type.GROUP_TYPE_NAME,sys_group.GROUP_ID as group_id,
    statu.group_status_name,service.*,indexs.*,sys_group.GROUP_ID,sys_group.GROUP_LATITUDE as GROUP_LATITUDE,sys_group.GROUP_LONGITUDE as GROUP_LONGITUDE
    ,service.create_time as create_time,middle.group_featured_id as group_featured_id
    FROM sys_group
    LEFT JOIN sys_group_address as address on sys_group.group_address_id=address.group_address_id
    LEFT JOIN aoyo_street as street on street.`code`=address.group_street_id
    LEFT JOIN aoyo_area as area on area.`code`=address.group_county_id
    LEFT JOIN aoyo_city as city on city.`code`=address.group_city_id
    LEFT JOIN aoyo_province as province on province.`code`=address.group_province_id
    LEFT JOIN aoyo_group_status as statu on statu.`group_status_id`=sys_group.GROUP_STATUS
    LEFT JOIN aoyo_group_featured_services_middle as middle on middle.`group_id`=sys_group.GROUP_ID
    LEFT JOIN aoyo_group_featured_services as service on service.`featured_services_id`=middle.featured_services_id
    LEFT JOIN aoyo_group_index as indexs on indexs.group_index_id=sys_group.GROUP_TYPE
    LEFT JOIN sys_menu_default as defaults on defaults.`GROUP_INDEX`=sys_group.GROUP_ID
    LEFT JOIN sys_group_type as type on type.`GROUP_TYPE_ID`=sys_group.GROUP_TYPE

    /*select street.`name` as street_name,area.`name` as area_name,city.`name` as city_name,province.`name` as province_name,address.group_address_details,
    sys_group.GROUP_NAME,sys_group.COUNTY_ID,
    statu.group_status_name,service.*,indexs.*
    FROM sys_group
    LEFT JOIN sys_group_address as address on sys_group.COUNTY_ID=address.group_address_id
    LEFT JOIN aoyo_street as street on street.`code`=address.group_street_id
    LEFT JOIN aoyo_area as area on area.`code`=address.group_county_id
    LEFT JOIN aoyo_city as city on city.`code`=address.group_city_id
    LEFT JOIN aoyo_province as province on province.`code`=address.group_province_id
    LEFT JOIN aoyo_group_status as statu on statu.`group_status_id`=sys_group.GROUP_STATUS
    LEFT JOIN aoyo_group_featured_services_middle as middle on middle.`group_id`=sys_group.GROUP_ID
    LEFT JOIN aoyo_group_featured_services as service on service.`featured_services_id`=middle.featured_services_id
    LEFT JOIN aoyo_group_index as indexs on indexs.`group_id`=sys_group.GROUP_ID*/

    </select>
   <!--门店商品详情-->
    <select id="findAll2" resultType="Mendian" parameterType="Mendian">
      SELECT aoyo_commodity.commodity_id,aoyo_commodity.commodity_name,aoyo_commodity.commodity_selling_price,sys_group.GROUP_ID,sys_group.GROUP_NAME,aoyo_commodity_img.commodity_img_url,aoyo_commodity.class_id,aoyo_commodity_class.class_id from aoyo_commodity
      LEFT JOIN sys_group on aoyo_commodity.group_id=sys_group.GROUP_ID
      LEFT JOIN aoyo_commodity_img on aoyo_commodity_img.commodity_id=aoyo_commodity.commodity_id
      left join aoyo_commodity_class on aoyo_commodity_class.class_id=aoyo_commodity.class_id
      <where>
        <if test="groupId!=null and groupId!=0">
             aoyo_commodity.group_id=#{groupId}
        </if>
        <if test="commodityName!=null and commodityName!=''">
              and  aoyo_commodity.commodity_name like '%${commodityName}%'
        </if>
          <if test="classId!=null and classId!=0">
            and aoyo_commodity.class_id=#{classId}
          </if>
      </where>
    </select>

 <!--店铺图片+名称-->
 <select id="findById" resultType="com.buba.aoyo.pojo.Xiangqing">
 SELECT aoyo_group_index.img_url,sys_group.GROUP_ID,sys_group.GROUP_NAME from sys_group,aoyo_group_index where sys_group.group_id=#{groupId} and sys_group.GROUP_TYPE=aoyo_group_index.group_index_id
 </select>

    <!--店铺详情-->
    <resultMap id="xq" type="Xiangqing">
        <id property="groupId" column="GROUP_ID"/>
        <result property="groupName" column="GROUP_NAME"/>
        <result property="groupDesc" column="GROUP_DESC"/>
        <result property="groupAddressDetails" column="group_address_details"/>
        <result property="imgUrl" column="img_url"/>
        <result property="featuredServicesDesc" column="featured_services_desc"/>
        <result property="groupTypeName" column="group_type_name"/>

        <collection property="aoyoGroupTechnicians" javaType="list" ofType="AoyoGroupTechnician">
        <id property="groupTechnicianId" column="group_technician_id"/>
            <result property="groupId" column="group_id"/>
            <result property="groupTechnicianName" column="group_technician_name"/>
            <result property="groupTechnicianImg" column="group_technician_img"/>
            <result property="groupTechnicianDesc" column="group_technician_desc"/>
            <result property="deleteFlag" column="delete_flag"/>
        </collection>
    </resultMap>

    <select id="findById2" resultMap="xq">
    SELECT DISTINCT aoyo_group_index.img_url,sys_group.GROUP_ID,sys_group.GROUP_NAME,sys_group.GROUP_DESC,sys_group_address.group_address_details,aoyo_group_featured_services.featured_services_desc,sys_group_type.group_type_name,
    aoyo_group_technician.*from sys_group
LEFT JOIN aoyo_group_index on aoyo_group_index.group_index_id=sys_group.GROUP_TYPE
LEFT JOIN sys_group_address on sys_group_address.group_address_id=sys_group.group_address_id
LEFT JOIN aoyo_group_featured_services_middle on aoyo_group_featured_services_middle.group_id=sys_group.group_id
LEFT JOIN aoyo_group_featured_services on aoyo_group_featured_services.featured_services_id=aoyo_group_featured_services_middle.featured_services_id
LEFT JOIN sys_group_type on sys_group_type.group_type_id=sys_group.group_type
LEFT JOIN aoyo_group_technician on aoyo_group_technician.group_id=sys_group.group_id
where sys_group.group_id=#{groupId}
    </select>
    <!--商品筛选列表-->
    <select id="findAll3" resultType="com.buba.aoyo.pojo.AoyoCommodityClass">
        select * from aoyo_commodity_class
    </select>


    <!--商品详情-->
    <resultMap id="sp" type="Shangpin">
        <id property="commodityId" column="commodity_id"/>
        <result property="commoditCommentContent" column="commodit_comment_content"/>
        <result property="commodityName" column="commodity_name"/>
        <result property="commoditySellingPrice" column="commodity_selling_price"/>
        <result property="groupId" column="group_id"/>
        <result property="commodityNumber" column="commodity_number"/>

        <collection property="imgs" javaType="list" ofType="Imgs">
            <id property="commodityId" column="commodity_id"/>
            <result property="commodityImgUrl" column="commodity_img_url"/>
        </collection>

        <collection property="norms" javaType="list" ofType="AoyoCommodityNorms">
            <id property="normsId" column="norms_id"/>
            <result property="commodityId" column="commodity_id"/>
            <result property="groupId" column="group_id"/>
            <result property="classId" column="class_id"/>
            <result property="normsName" column="norms_name"/>
            <result property="normsValue" column="norms_value"/>
            <result property="deleteFlag" column="delete_flag"/>
        </collection>
    </resultMap>

    <select id="findAll4" resultMap="sp">
    SELECT aoyo_commodity.commodity_id,aoyo_commodity_img.commodity_img_url,aoyo_commodity_norms.*,aoyo_commodity.commodity_name,aoyo_commodity.commodity_selling_price,aoyo_commodity.group_id,aoyo_commodity.commodity_number
from aoyo_commodity
LEFT JOIN aoyo_commodity_img on aoyo_commodity_img.commodity_id=aoyo_commodity.commodity_id
LEFT JOIN aoyo_commodity_comment on aoyo_commodity_comment.commodity_id=aoyo_commodity.commodity_id
LEFT JOIN aoyo_commodity_norms on aoyo_commodity_norms.commodity_id=aoyo_commodity.commodity_id
where aoyo_commodity.commodity_id=#{commodityId}

    </select>
</mapper>
